*{

font-family: cursive;
color: black;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
.list-member{
   background-color: rgb(231, 206, 168);
    box-shadow:  5px 5px 5px 5px #888888; 
    
    background: rgb(197, 134, 134);
    width: 700px;
    margin: 0 auto;
}
ul li{
    list-style: none;
    text-align: center;
}
ul li:hover{
    color: white;
transition: 0.4s;}